= javascript_include_tag :all
= javascript_include_tag 'node_modules/angular/angular'
= javascript_include_tag 'node_modules/angular-route/angular-route'
= javascript_include_tag 'node_modules/angular-cookie/angular-cookie'
= javascript_include_tag 'node_modules/ng-token-auth/dist/ng-token-auth'
= javascript_include_tag 'app/app'
= javascript_include_tag 'app/controllers/signupcontroller'
= javascript_include_tag 'app/controllers/signincontroller'
%ng-view
